<launch>

  <arg name="gui" default="false" />
  <arg name="gpu" default="-1" />
  <arg name="INPUT_IMAGE" default="/head_camera/rgb/image_rect_color" />
  <arg name="INPUT_DEPTH_IMAGE" default="/head_camera/depth_registered/hw_registered/image_rect" />
  <arg name="INPUT_CAMERA_INFO" default="/head_camera/rgb/camera_info" />
  <arg name="with_depth" default="true" />

  <node name="hand_pose_estimation_2d"
        pkg="jsk_perception" type="hand_pose_estimation_2d.py"
        output="screen">
    <remap from="~input" to="$(arg INPUT_IMAGE)" />
    <remap from="~input/depth" to="$(arg INPUT_DEPTH_IMAGE)" />
    <remap from="~input/info" to="$(arg INPUT_CAMERA_INFO)" />
    <rosparam subst_value="true">
      gpu: $(arg gpu)
      model_file: $(find jsk_perception)/trained_data/SRHandNet.pts
      with_depth: $(arg with_depth)
    </rosparam>
  </node>

  <node name="hand_shaking"
        pkg="welcome_to_jsk_fetch" type="handshake-fetch.l">
  </node>

</launch>
